.jconfirm-content {
    margin-bottom: 0!important;
}

.table {
    width: 100%!important;
}

.btn-group-xs > .btn, .btn-xs {
    padding: .25rem .4rem;
    font-size: .875rem;
    line-height: .5;
    border-radius: .2rem;
}

.table .row-actions {
    width: 92px!important
}

.navbar-brand .logo {
    width: 90px;
}

div.jconfirm-content {
    padding: 5px!important;
}

.hide {
    display: none!important;
}

select[readonly], .readonly {
    background: #eee;
    pointer-events: none;
    touch-action: none;
}
