// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// jQuery Confirm
@import '~jquery-confirm/dist/jquery-confirm.min.css';

// FontAwesome
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

// DataTables
@import '~datatables.net-bs4/css/dataTables.bootstrap4.min.css';
@import "~datatables.net-buttons-bs4/css/buttons.bootstrap4.css";

// Datepicker
@import '~bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css';

@import 'custom';
